# Игнорирует все файлы с расширением txt
*.txt
# Игнорирует все файлы с этим именем
output.txt
input.txt
# Игнорирует файлы начинающиеся с img
img*
# Не игнорирует файлы с этим именем
 !Readme.txt
#  # игнорировать все каталоги с именем test
# test/

# # попытка отрицания файла внутри игнорируемого каталога не сработает
# !test/example.md
.env
