# Игнорирует все файлы с расширением txt и т.д.
*.txt
*.csv
# Игнорирует все файлы с этим именем
output.txt
input.txt
# Игнорирует файлы начинающиеся с img
img*
# Не игнорирует файлы с этим именем
 !Readme.txt
#  # игнорировать все каталоги с именем test
# test/

# # попытка отрицания файла внутри игнорируемого каталога не сработает
# !test/example.md
.env
# Теперь, вам нужно указать Git не отслеживать этот файл, удалив его из перечня:

# git rm --cached .env
# Команда git rm вместе с параметром --cached удаляет файл из репозитория, но не фактический файл.
# Это значит, что файл остается в вашей локальной системе и в вашем рабочем каталоге в качестве файла, который игнорируется.

# Команда git status покажет, что файла в репозитории больше нет,
# в ввод команды ls покажет, что файл существует в вашей локальной файловой системе.
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix